Flask
Flask-SQLAlchemy
Flask-Login
Werkzeug
Jinja2
Flask
flask_sqlalchemy
Werkzeug
flask_mail
requests
flask_migrate
flask_moment
flask_wtf
email_validator
Flask-Mail
itsdangerous==2.0.1
SQLAlchemy
Flask-WTF
WTForms
gunicorn==21.2.0
psycopg2-binary