{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Enviar un paquete</h2>

    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.descripcion.label(class="form-label") }}
            {{ form.descripcion(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.nombre_quien_recibe.label(class="form-label") }}
            {{ form.nombre_quien_recibe(class="form-control", required=True) }}
        </div>

        <div class="mb-3">
            {{ form.telefono_quien_recibe.label(class="form-label") }}
            {{ form.telefono_quien_recibe(class="form-control", required=True) }}
        </div>

        <button type="submit" class="btn btn-primary">
            Continuar
        </button>
    </form>
</div>
{% endblock %}