<!-- {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="mb-4">
    {% for category, message in messages %}
      <div class="flash-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}


 -->
<!-- rm_domicilios_yopal/templates/_messages.html -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="messages-container mt-4 mb-4"> {# Puedes ajustar estas clases Tailwind #}
    {% for category, message in messages %}
      <div class="p-3 rounded-lg text-white mb-2 
                  {% if category == 'success' %}bg-green-500
                  {% elif category == 'danger' %}bg-red-500
                  {% elif category == 'info' %}bg-blue-500
                  {% elif category == 'warning' %}bg-yellow-500 {# <--- ¡AÑADIDO PARA WARNING! #}
                  {% else %}bg-gray-500{% endif %}" role="alert">
        {{ message }}
      </div>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}